<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		
		<listener class-name="testcompoents.Listeners"/>
		
	</listeners>
	
	
  <test  name="Sign in">
    <classes>
      <class name="nykaa.Sign_inTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
